.clearflix::after{
    content: '';
    display: block;
    clear: both;
}
header{
    text-align: center;
}
header img{
    width: 10%;
    height: auto;
    padding-top: 10px;
}
.cabeca ul{
    list-style: none;
    margin: 0;
    padding: 0;
    background: #4896fc;
}
.cabeca li{
    display: inline-block;
    padding: 0px 5px 5px 5px;
    margin-top: 10px;
}
.cabeca a{
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    
}
.cabeca a:hover{
    background: #090957;
    color: white;
}
/*-------------------------------------------*/
main{
    text-align: center;
    font-family: 'Rubik', sans-serif;
}
form{
    padding: 3em;
    background: #e8e2e2;
}
label{
    display: block;
}
input{
    margin: 20px auto;
    padding: 10px 5px;
}
textarea{
    resize: none;
   
    background: white;
}
#botao{
    display: block;
    padding: 10px 20px;
    margin: 30px auto 0px;
    text-transform: uppercase;
}
footer{
    background: #25303e;
    color: #83969f;
    text-align: center;
    padding-bottom: 2em;
}
.footer-menu{
    background: #303d4c;
    margin: 0;
    padding: .4em;
}
.icones-redes-sociais{
    font-size: 20px;
}
.footer-menu li{
    display: inline-block;
    margin: 0 1em;
}
.footer-menu a{
    font-size: 1.1em;
    text-decoration: none;
    color: white; 
}
.hidden{
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    display: block;
}

@media screen and (min-width: 750px){
    .cabeca img{
        float: left;
        margin-left: 20px;
    }
    .cabeca ul{
        float: right;
        background: none;
        margin-top: 30px;
        margin-right: 20px;
    }
    .cabeca a{
        font-size: 16px;
    }
    .cabeca a:hover{
        background: none;
        color: black;
        border-bottom: solid 1px black;
        padding-bottom: 10px;
    }
    textarea{
        margin-top: 10;
        padding: px 40px;
        height: 110px;
    }
}
@media screen and (min-width: 1000px){
    .cabeca a{
        font-size: 19px;
    }
    label{
        display: block;
    }
}
