*{
    margin: 0;
    padding: 0;
}
.clearflix::after{
    content: '';
    clear: both;
    display: block;
}

.navbar img{
    width: 200px;
    margin: auto;
}
.navbar a{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-align: center;
}



/*
.navbar img{
    width: 200px;

}
.navbar a{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}
.navbar a:hover{
    text-decoration: underline;

}
*/

.introducao{
    background-image: url(../img/banner1.jpeg);
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
}

main{
/*    padding: 2em 1em;*/
    text-align: center;
}

                    /* PRIMEIRO  */
.primeiro{
    padding: 1em 2em;
}
.primeiro h2{
    color: #9595ea;
    font-family: 'Fira Sans', sans-serif;
    border-bottom: solid 1px #9595ea;
    width: 40%; /*AUMENTAR quando a tela aumentar */
    padding: 4px 0px;
    margin: auto;
    font-size: 28px;
    text-transform: uppercase;
}
.historia{
    margin: 30px 0px 0px;
}
.historia h3{
    color: gray;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    margin: 0px 0px 30px 0px;
}
.historia p{
    font-family:'Oxygen', sans-serif;
    font-size: 19px;
}
.historia_img{
    margin: 50px 0px 50px 0px;
    max-width: 60%;
}

                /* SEGUNDO */

.segundo{
    padding: 1em 2em;
}
.text-container h2{
    color: #9595ea;
    font-family: 'Fira Sans', sans-serif;
    border-bottom: solid 2px #9595ea;
    width: 60%; /*AUMENTAR quando a tela aumentar */
    padding: 4px 0px;
    margin: auto;
    font-size: 28px;
    text-transform: uppercase;
}
.painel-pai{
    margin: 40px 0px 0px 0px;
}
.painel-filho{
    margin: 20px 0px 0px 0px;
}
.fas {
    color: #933db9;
    font-size: 32px;
}
.painel-filho h3{
    color: #933db9;
    font-size: 24px;
    margin: 8px 0px 0px;
    font-family: 'Source Sans Pro', sans-serif;
}
.painel-filho p{
    margin: 10px 0px 10px 0px;
    font-size: 19px;
    font-family:'Oxygen', sans-serif;
}


        /*     terceiro       */

.terceiro{
    margin: 50px 0px 0px 0px;
    padding: 1em 2em;
}
.text-container h2{
    color: #9595ea;
    font-family: 'Fira Sans', sans-serif;
    border-bottom: solid 1px #9595ea;
    width: 40%; /*AUMENTAR quando a tela aumentar */
    padding: 4px 0px;
    margin: auto;
    font-size: 26px;
}
.text-container p{
    margin-top: 20px;
    font-family:'Oxygen', sans-serif;
    font-size: 19px;
}
.row .col.s12 {
  width: 100%;
  margin-left: auto;
  left: auto;
  right: auto;
}
.card {
  position: relative;
  margin: 0.5rem 0 1rem 0;
  background-color: #fff;
  -webkit-transition: -webkit-box-shadow .25s;
  transition: -webkit-box-shadow .25s;
  transition: box-shadow .25s;
  transition: box-shadow .25s, -webkit-box-shadow .25s;
  border-radius: 2px;
}
.card-image{
  max-height: 60%;
  overflow: hidden;

}
.card.small .card-image + .card-content, .card.medium .card-image + .card-content, .card.large .card-image + .card-content {
  max-height: 40%;
}

.background{
/*    background-image: url(../img/pexels-photo-1089440.jpeg);*/
    background-image: url(../img/pexels-photo-248515.png);
    height: 450px;
    background-attachment: fixed;
    padding: 0;
}



.quarto{
    margin: 50px 0px 0px 0px;
    padding: 1em 1em;
    text-align: center;
}
.equipe-painel{
    display: block;
}
.equipe-painel-objeto{
    margin: 30px auto;
    width: 10rem;
    
}
.equipe-painel-objeto h5{
    font-size: 16px;
}
.equipe-painel-objeto i{
    font-size: 22px;
    margin: 0px 10px;
}
.fa-github{
    color: black;
}


.quinto{
    margin: 50px 0px 0px 0px;
    padding: 1em 2em;
    text-align: center;
}
.projeto-painel-objeto{
    display: block;
}
.projeto-painel-objeto{
    margin: 30px auto;
    width: 300px;
}

 .projetos-painel-objeto{
    width: 90%;
    margin: auto;
 }
 .projetos-painel-objeto img{
    width: 85%;
    border-radius: 20px;
 }
 .projetos-painel-objeto-text{
    text-align: center;
    margin: 30px 0px 40px 0px;
 }
 .projetos-painel-objeto-text h3{
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
 }
 .projetos-painel-objeto-text p{
    text-align: justify;
    font-family:'Oxygen', sans-serif;
    font-size: 18px;
 }


.rodape{
    background-color: #040415;
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
.rodape p:nth-child(1){
    background-color: #14144b;
    padding: 4px 0px;
    font-size: 20px;
}
.rodape i:nth-child(1){
    color: white;
}
.rodape i:nth-child(2){
    margin: 0px 0px 0px 50px;
}
.rodape p{
    margin: 0px;
    padding: .1em;
}

.rodape a{
    color: #c9c5c5;
}
.fab:first-child{
    margin: 0px 20px 0px 8px;
}

@media screen and (min-width: 850px){
    .nav-img{
        margin-left: 2%;
        width: 10%;

    }
    .navbar-nav{
        
        width: 90%;
    }
    .text-container h2{
        max-width: 30%;
    }
    .painel-cards{
        display: flex;
        justify-content:space-around;
        
    }
    .painel-pai{
        display: flex;
    }
    .card{
        width: 96%;
    }
    .equipe-painel{
        display: flex;
        justify-content:flex-start;
    }
    .equipe-painel-objeto{
        width: 10rem;
    }
    .projetos-painel-objeto{
        width: 100%;
    }
    .projetos-painel-objeto img{
        max-width: 300px;
        height: 150px;
        float: left;
        margin: 0px 20px 0px 0px;
    }
    .projetos-painel-objeto p{
        font-size: 17px;
        margin: 5px 0px 10px 10px;

    }
   
}
@media screen and (min-width: 1000px){
    .nav-img{
        margin-left: 2%;
        width: 5%;

    }
    .navbar-nav{
        margin: 0px 0px 0px 34%;
        width: 95%;
    }
    .projetos-painel-objeto img{
/*        max-width: 37%;*/
        height: 290px;
        float: left;
        margin: 0px 20px 0px 0px;
    }
    .projetos-painel-objeto-text p:nth-child(3){
        text-align: right;
        margin: 20px 0px 0px;
    }
}


@media screen and (min-width: 1400px){
    .nav-img{
        margin-left: 8%;
        width: 10%;

    }
    .navbar-nav{
        margin: 0px 0px 0px 45%;
        width: 90%;
    }
    .text-container h2{
        max-width: 20%;
    }
    .projetos-painel-objeto img{
/*        max-width: 33%;*/
        height: 290px;
        float: left;
        margin: 0px 20px 0px 0px;
    }
    .projetos-painel-objeto-text p:nth-child(3){
        text-align: right;
    }

}

@media screen and (min-width: 2000px){
    .nav-img{
        margin-left: 10%;
        width: 10%;

    }
    .navbar-nav{
        margin: 0px 0px 0px 55%;
        width: 90%;
    }
    .projetos-painel-objeto img{
/*        max-width: 27%;*/
        height: 290px;
        float: left;
        margin: 0px 20px 0px 0px;
    }
    
}





















